// Vars Override
@import "./luzfaltex.theme.vars.scss";

@import "./mixins";
@import "./modules";

// Other overrides
* {
    -webkit-font-smoothing: subpixel antialiased;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

// Color overrides
:root {
    --body-background: #{$body-background};
    --color-text: #{$color-text};
    --color-orange: #{$color-orange};    
    --background-box: #{$background-box};    
    --background-child-box: #{$background-child-box};
    --header-bg: var(--background-box);
    --navmenu-bg: #{$navmenu-bg};
    --color-link: #{$color-link};
    --color-link-hover: #{$color-link-hover};
    --color-foreground: #{$color-foreground};
    --color-inverted: #{$color-inverted};
}

[data-theme="light"] {
    --body-background: #fff;
    --color-text: #222;
    --background-box: #eee;
    --background-child-box: #ddd;
    --header-bg: transparent;
    --navmenu-bg: #666;
    --color-link: #222;
}

body {
    background-color: var(--body-background);
    color: var(--color-text);
}

.logo {
    margin-right: auto;
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    text-decoration: none;

    &:hover {
        color: var(--color-link);
    }

    img {
        max-height: 70px;
        max-width: 100%;
    }
    h2 {
        font-family: sans-serif;
    }
}

.header {
    background-color: var(--header-bg);
    padding: 23px;
    display: flex;
    align-items: center;
    min-height: 120px;
    max-height: 100%;
}

.navMenu {
    background-color: var(--navmenu-bg);
    max-height: 50px;
    border-top: 1px solid var(--color-orange);

    .layoutContainer {
        display: flex;
        align-items: center;
    }
}

.is-navbar-container {
    &, & a {
        color: #fff;
    }
}

.is-navbar {
    a {
        text-decoration: none;
        border-bottom: 3px solid transparent;
    
        &:not(.button) {
            font-weight: 600;
            line-height: normal;
            font-size: 14px;
            text-transform: uppercase;
            color: $color-link;
            background: transparent;
            border-radius: 0px;
            padding: 16px 27px;
        }
    
        &:hover {
            background-color: rgba(var(--color-orange), .7);
            border-bottom-color: var(--color-foreground);
        }
    
        &.is-active {
            background-color: var(--color-orange);
        }
    }

    li {
        margin-left: 0;
    }
}

.is-navbar-right {
    display: flex;
    flex: 1;
    align-items: center;

    & ul {
        display: flex;
        align-items: center;
        margin-left: auto;
    }
}

.layoutContainer {
    max-width: 85%;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

.box {
    margin-top: 20px;
    background-color: var(--background-box);
    padding: 20px;

    .box {
        background-color: var(--background-child-box);
    }
}

.extendedFooter {
    background-color: var(--background-box);
    margin-top: 20px;
    padding: 30px 15px 30px 15px;
}

.copyrightFooter {
    @include flex;
    padding: 23px;
}

a {
    text-decoration: underline;
    color: var(--color-link);
}

.is-muted {
    color: rgba(var(--color-text), .6);
}
.is-muted a,
a.is-muted {
    color: rgba(var(--color-link), .6);
    text-decoration: none;
}
.is-muted a:hover,
a.is-muted:hover {
    @include transition;
    color: rgba(var(--color-link-hover), .6);
}

.alert {
    margin-top: 20px;
    margin-bottom: 0px;

    &.is-warning {
        background: $alert-warning-background;
        border-color: $alert-warning-border-color;
        color: $alert-warning-color-text;
        & a:hover {
            color: $alert-warning-link-color-hover;
        }
    }
    &.is-info {
        @extend .alert.is-focus !optional;
    }
}

table > thead > tr {
    background-color: var(--navmenu-bg);
}

table.is-striped {     
    tr:nth-child(odd) td {
        background-color: inherit;
    }

    tr:nth-child(even) {
        background-color: var(--body-background);
    }
}

.main-sidebar {
    @include make-sidebar(360px);
    margin-right: 16px;

    @include for-mobile {
        margin-right: 0px;
    }
}

.main-content {
    @include make-content;
}

ul.is-list, ol.is-list {
    margin: 0;
    list-style: none;

    li {
        display: inline-block;
    }
    
    li:not(:last-child)::after {
        content: ', ';
    }
}

.slider {
    [type="checkbox"] {
        display: none;

        &:checked ~ .toggle-label {
            background: var(--color-orange);

            &::before {
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
            }
        }
    }

    label {
        margin-bottom: 0;
    }

    .toggle-label {
        display: block;
        width: 40px;
        height: 20px;
        position: relative;
        background: var(--background-box);
        border-radius: 10px;
        transition: background 0.2s ease;
        cursor: pointer;

        &::before {
            content: '';
            display: block;
            width: 50%;
            height: 100%;
            background: #fff;
            border-radius: 50%;
            box-shadow: 0 0 0 1px #d1d1d1;
            position: absolute;
            left: 0;
            top: 0;
            transition: transform 0.2s ease-in-out;
        }
    }
}

blockquote {
    color: rgba(var(--color-text), .6);
    font-size: unset;
}