---
Title: About
---
@{
    var orangeFoxImage = ExecutionContext.GetLink("assets/img/logoOrange.png", true);
}

<div class="box">
    <h1>About Us</h1>
    <p>LuzFaltex (ˈluːz ˈfɔl ˈtɛks) was founded in 2014 to operate as the management entity for the Fall of the Citadel minecraft roleplay server. Since then, we have grown into a service provider with three primary goals:</p>
    <ol>
        <li>Provide high quality roleplay experiences;</li>
        <li>Develop tools for those creating roleplaying games, be that a tabletop setting or as a more traditional roleplay environment; and</li>
        <li>Design training courses for Dungeon Masters and Community Managers in moderation, lore development, and administration.</li>
    </ol>
    <p>We also have very strong commitments to <a href="https://ssd.eff.org/" target="_blank" rel="noopener">internet privacy</a> and <a href="https://en.wikipedia.org/wiki/Net_neutrality" target="_blank" rel="noopener">net neutrality</a>. While officially take no stance politically, we do reflect these opinions in policy. We never sell, give away, or otherwise make money off of your personal data in any way. Also, we believe that you shouldn't have to be a lawyer to understand your privacy rights. So, we have very carefully crafted our <a href="xref:privacy">privacy policy</a> to be human-readable and easy to understand without pulling out a law dictionary.</p>

    @* Staff Listing *@
    <h2>Who We Are</h2>
    <div class="is-row">
        <div class="is-col box">
            <div class="logo">
                <img src="@orangeFoxImage" alt="avatar" class="is-round-image" />
                <h4>Foxtrek_64</h2>
            </div>
            <p>Lorem Ipsum</p>
        </div>
        <div class="is-col box">
            <div class="logo">
                <img src="@orangeFoxImage" alt="avatar" class="is-round-image" />
                <h4>Person 2</h2>
            </div>
            <p>Lorem Ipsum</p>
        </div>
        <div class="is-col box">
            <div class="logo">
                <img src="@orangeFoxImage" alt="avatar" class="is-round-image" />
                <h4>Person 3</h2>
            </div>
            <p>Lorem Ipsum</p>
        </div>
        <div class="is-col box">
            <div class="logo">
                <img src="@orangeFoxImage" alt="avatar" class="is-round-image" />
                <h4>Person 3</h2>
            </div>
            <p>Lorem Ipsum</p>
        </div>
    </div>
</div>
