---
Title: DMCA
xref: dmca-report
---
<h1>Copyright Claims (DMCA)</h1>
<strong>What is the DMCA?</strong>
<p>The Digital Millennium Copyright Act (DMCA) creates a standardized process for copyright holders to ask LuzFaltex to take down infringing content. You can find more information about the DMCA at the <a href="http://www.copyright.gov/" target="_blank" rel="noopener">U.S. Copyright Office's official website</a>. For more information about how LuzFaltex handles DMCA requests, please read our <a href="xref:dmca">DMCA takedown policy.</a></p>
<div class="is-row">
    <div class="is-col">
        <h4>Submit a DMCA takedown notice</h4>
        <p>If someone else is using your copyrighted content in an unauthorized manner on any LuzFaltex Project, fill out the form below to submit a DMCA takedown notice and request that the infringing content be changed or removed. Before you begin, please read LuzFaltex’s <a href="xref:submitDMCATakedown">guide to submitting a takedown notice</a>.</p>
        <a class="button" href="xref:dmca-takedown">Submit a takedown notice</a>
    </div>
    <div class="is-col">
        <h4>Submit a DMCA counter notice</h4>
        <p>If you believe your content posted on a LuzFaltex Project was mistakenly disabled by a DMCA takedown request, you have the right to contest the takedown by submitting a counter notice. Before you begin, please read LuzFaltex’s <a href="xref:submitDMCACounterNotice">guide to submitting a counter notice</a>.</p>
        <a class="button" href="xref:dmca-counter-notice">Submit a counter notice</a>
    </div>
</div>