@{
    ViewData["Title"] = "Logos";
}

<div class="alert is-warning">
    <i class="fal fa-construction" aria-hidden="true" title="Under Construction"></i> This article is still under construction! please be patient as we deploy our content.
</div>
<div class="Box">
    <h1>Logos</h1>
</div>