@{
    ViewData[Constants.Title] = "Terms and Conditions of Service";
    ViewData[Constants.OpenGraphTitle] = ViewData[Constants.Title];
    ViewData[Constants.OpenGraphDescription] = "";
}

<div class="alert is-warning">
    <i class="fal fa-construction" aria-hidden="true" title="Under Construction"></i> This article is still under construction! please be patient as we deploy our content.
</div>
<div class="is-container">
    <div class="main-sidebar">
        <div class="box">
            <partial name="_docsSidebar">
        </div>
    </div>
    <div class="main-content">
        <div class="box">
            <h1>Terms and Conditions of Service</h1>
            (TACOS)
        </div>
    </div>
</div>