---
Title: Join Us
xref: join
---
@{
    var formLink = "https://mqabrieontgzqiu.form.io/join";
}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        Formio.createForm(document.getElementById('formio'), '@formLink')
            .then(function(formio) {
                formio.on('submitDone', function(submission) {
                    window.location = '/contact/submitted'
                });
            }
        );
    });
</script>

<h1>LuzFaltex Staff Application</h1>
<p>Thank you for your interest in supporting LuzFaltex! You can use the form below if you wish to apply for staff.</p>
<p>Do not fill out this form more than once. If you have any questions, please reach out to <a href="mailto:support@luzfaltex.com">support@luzfaltex.com</a>.</p>
<div id="formio" class="bootstrapWrapper"></div>
<noscript>The webform requires Javascript. If you are unable or unwilling to allow Javascript execution on your device, please send an email to <a href="mailto:support@luzfaltex.com">support@luzfaltex.com</a> instead.</noscript>