---
Title: Report Trademark Violation
xref: trademark-report
---
@{
    var formLink = "https://form-io.caprover.luzfaltex.com/trademark";
}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        Formio.createForm(document.getElementById('formio'), '@formLink')
            .then(function(formio) {
                formio.on('submitDone', function(submission) {
                    window.location = '/contact/submitted'
                });
            }
        );
    });
</script>

<h1>Submit a Trademark Policy Violation Report</h1>
<p>If you believe someone is using your registered trademark in an unauthorized way on a Luzfaltex Project, please fill out the form below to submit a Trademark Policy Violation report to request that the content be changed or removed. Before you begin, please read LuzFaltex's <a href="xref:trademark">Trademark Policy</a>.</p>
<p>As with all legal matters, it is always best to consult with a professional about your specific questions or situation. We strongly encourage you to do so before taking any action that might impact your rights. Our guides aren't legal advice and shouldn't be taken as such.</p>
<p>In order to prevent processing delays, please note the following before submitting your notice:</p>
<ul>
    <li>Don't send duplicate notices.</li>
    <li>If you believe multiple accounts or posts are infringing the same trademarked content, you may include links to those accounts or posts in a single notice. However, be sure to provide a separate and detailed description of confusion for each instance of trademark infringement you are reporting.</li>
    <li>Our Trademark Policy Violation process is intended only for trademarked content. If you are reporting code or content that is protected by copyright, please review our <a href="href:dmca">DMCA Takedown Policy</a>. If you are reporting content that violates our terms of service, please use the <a href="xref:contact-support">abuse form</a>.</li>
</ul>
<div id="formio" class="bootstrapWrapper"></div>