@{
    IDocument docsRoot = OutputPages.Get("docs/index.html");
    IDocument policiesRoot = OutputPages.Get("policies/index.html");

    var docPath = Document.GetLink(true);

    var docsIndexPath = ExecutionContext.GetLink("docs/index");

    var policiesOpen = docPath.Contains("policies") ? "open" : "";
    var docsOpen = docPath.Contains("docs") ? "open" : "";    
}
<h3 class="no-anchor">Documents</h3>
<nav>
    <ul>
        <li>
            <details @docsOpen>
                <summary>Documentation</summary>
                <ul>
                    @foreach (IDocument document in OutputPages.GetChildrenOf(docsRoot).OrderBy(x => x.GetTitle()))
                    {
                        <li>@Html.DocumentLink(document, document.GetTitle())</li>
                    } 
                </ul>
            </details>
        </li>
        <li>
            <details @policiesOpen>
                <summary>Policies</summary>
                <ul>
                    @foreach (IDocument document in OutputPages.GetChildrenOf(policiesRoot).OrderBy(x => x.GetTitle()))
                    {
                        <li>@Html.DocumentLink(document, document.GetTitle())</li>
                    }                
                </ul>
            </details>            
        </li>
    </ul>
</nav>