@{
    var enableHeaderLink = Document.GetBool(Constants.PoliciesEnableHeaderLink, false);

    Layout = "../_MasterLayout.cshtml";
}

<div class="is-container">
    @*
    <div class="main-sidebar">
        <partial name="_docsSidebar" />
        <partial name="_tocList" />   
    </div>
    *@
    <div class="main-content">
        <div class="box">
            @RenderBody()
        </div>
    </div>
</div>


@if(enableHeaderLink)
{
    <script src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js"></script>
    <script>
        anchors.add()
        anchors.remove('.no-anchor')
    </script>
}