<h3>Documents</h3>
<nav>
    <ul>
        <li><a href="@ExecutionContext.GetLink("policies/privacy")">Privacy Policy</a></li>
        <li><a href="@ExecutionContext.GetLink("policies/terms")">TACOS</a></li>
        <li><a href="@ExecutionContext.GetLink("policies/logos")">Logos</a></li>
    </ul>
</nav>