@{
    IDocument docsRoot = OutputPages.Get("docs/index.html");
    IDocument policiesRoot = OutputPages.Get("policies/index.html");

    var docsIndexPath = ExecutionContext.GetLink("docs/index");
    var cookiesPath = "/policies/privacy#cookies";
}
<div class="box is-hidden-mobile">
    <h3 class="no-anchor">Documents</h3>
    <nav>
        <ul>
            <li>
                Documentation
                <ul>
                        @foreach (IDocument document in OutputPages.GetChildrenOf(docsRoot).OrderBy(x => x.GetTitle()))
                        {
                            var title = document.GetString(Constants.StylizedTitle) ?? document.GetTitle();
                            <li>@Html.DocumentLink(document, title)</li>
                        } 
                </ul>
            </li>
            <li>
                Policies
                <ul>
                    @foreach (IDocument document in OutputPages.GetChildrenOf(policiesRoot).OrderBy(x => x.GetTitle()))
                    {
                        var title = document.GetString(Constants.StylizedTitle) ?? document.GetTitle();
                        <li>@Html.DocumentLink(document, title)</li>
                    }
                    <li><a href="@cookiesPath">Cookies</a></li>
                </ul>         
            </li>
        </ul>
    </nav>
</div>
