<ul class="is-unstyled">
    <li>
        <nav>
            <ul class="is-bar is-text-center">
                <li><a href="xref:privacy">Privacy Policy</a></li>
                <li><a href="xref:terms">TACOS</a></li>
                <li><a href="xref:privacy">Logos</a></li>
                <li><a href="xref:contact">Contact Us</a></li>
            </ul>
        </nav>
    </li>
    <li class="is-text-center">Copyright &copy; LuzFaltex, LLC 2014-@DateTime.UtcNow.Year, all rights reserved.</li>
    <li class="is-text-center is-muted">Powered by <a href="https://statiq.dev/" is-external="true" show-icon="false">Statiq</a> and <a href="https://www.nearlyfreespeech.net/" is-external="true" show-icon="false">NearlyFreeSpeech.Net</a>.</li>
    <li class="is-text-center is-muted">Built by our wonderful <a href="xref:contributors">contributors</a>.</li>
</ul>