@{
    Layout = "../_MasterLayout.cshtml";
}

<div class="is-container">
    <div class="main-sidebar">
        <partial name="_projectsSidebar" />
    </div>
    <div class="main-content">
        <div class="box">
            @RenderBody()
        </div>
    </div>
</div>